<html>
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <title>Document</title>
</head>
<body>
    <strong>Listeleme sayfasındasın ve altta Title lara göre liste var</strong> <br><br>
    {{.Content}}

    {{range .Pages}}
     {{.Permalink}}<br>
    {{.Title}} <br>

    <ul>
     <li><a href="{{.Permalink}}">{{.Title}}</a></li>
    </ul>

    {{end}}  
    
    
</body>
</html>
